<a href="https://colab.research.google.com/github/vipashaaV321/3D-Datavisualization/blob/main/Item_Item_MF_SVD_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse.linalg import svds
from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split

### Item - Item collaborative filtering with Matrix factorization

#### SVD with surprise library

#### Load google drive and define base path

In [ ]:
Base_path ='/content/drive/MyDrive/Data/RS2'

In [ ]:
!pip install surprise

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### Load Filtered data and applying operations using surprise library

In [ ]:
# Load dataset
df = pd.read_csv(Base_path+"/short-recipes-20.csv")

In [ ]:
# Define Reader
reader = Reader(rating_scale=(1, 5))

In [ ]:
# Load data into Surprise dataset
data = Dataset.load_from_df(df[['user_id', 'recipe_id', 'rating']], reader)

In [ ]:
# Split dataset into training and testing sets
trainset, testset = train_test_split(data, test_size=0.2)

In [ ]:
testset

[(962690, 335810, 5.0),
 (587766, 238889, 4.0),
 (394085, 208118, 4.0),
 (362983, 212706, 5.0),
 (220348, 171450, 5.0),
 (508949, 125282, 5.0),
 (237123, 157676, 5.0),
 (121690, 210693, 5.0),
 (154026, 65909, 4.0),
 (344087, 86593, 5.0),
 (174096, 219072, 5.0),
 (593927, 71846, 5.0),
 (383346, 243431, 5.0),
 (797706, 36359, 5.0),
 (55578, 60402, 5.0),
 (209603, 167693, 5.0),
 (424680, 286053, 5.0),
 (55380, 38261, 4.0),
 (653438, 287499, 4.0),
 (176615, 61591, 5.0),
 (41409, 68408, 5.0),
 (704950, 311778, 5.0),
 (212609, 428645, 5.0),
 (494867, 96865, 5.0),
 (461834, 463701, 5.0),
 (245408, 24476, 5.0),
 (281701, 137135, 5.0),
 (377039, 52366, 4.0),
 (465056, 158420, 4.0),
 (39301, 38673, 5.0),
 (783601, 16371, 4.0),
 (305531, 174291, 5.0),
 (926169, 181223, 5.0),
 (212609, 468451, 5.0),
 (463435, 450133, 5.0),
 (37449, 485107, 5.0),
 (424680, 88521, 5.0),
 (498271, 298097, 5.0),
 (383346, 297379, 5.0),
 (74652, 129615, 5.0),
 (798181, 105136, 5.0),
 (47892, 341569, 5.0),
 (288218, 116412, 5.0),
 (121690, 203294, 5.0),
 (286566, 320417, 5.0),
 (233583, 378866, 5.0),
 (17803, 121588, 4.0),
 (804550, 486707, 5.0),
 (141293, 279724, 5.0),
 (1211187, 5170, 4.0),
 (118268, 128746, 4.0),
 (542159, 296407, 5.0),
 (227978, 418327, 5.0),
 (209441, 312650, 5.0),
 (74652, 128746, 5.0),
 (280271, 481960, 5.0),
 (1535, 16632, 5.0),
 (47892, 532740, 5.0),
 (379033, 174610, 5.0),
 (223979, 279907, 5.0),
 (191533, 135646, 5.0),
 (706608, 118761, 4.0),
 (223979, 96003, 5.0),
 (407007, 166250, 5.0),
 (6357, 20934, 0.0),
 (139381, 86309, 5.0),
 (679953, 274370, 5.0),
 (330545, 351313, 4.0),
 (96796, 369943, 5.0),
 (169430, 363291, 4.0),
 (186855, 361590, 4.0),
 (130219, 146700, 5.0),
 (160974, 80413, 5.0),
 (124249, 120887, 4.0),
 (373020, 83862, 5.0),
 (587114, 156928, 5.0),
 (59473, 93841, 5.0),
 (80353, 344049, 5.0),
 (157425, 214779, 5.0),
 (28346, 121646, 4.0),
 (497077, 249985, 5.0),
 (111678, 261951, 5.0),
 (4470, 160338, 5.0),
 (369715, 287401, 5.0),
 (204024, 254513, 5.0),
 (358513, 247293, 5.0),
 (674022, 364765, 5.0),
 (140132, 162894, 4.0),
 (107135, 123492, 5.0),
 (55578, 89207, 5.0),
 (358513, 16887, 5.0),
 (28649, 56523, 5.0),
 (494084, 31710, 0.0),
 (217657, 143558, 5.0),
 (135566, 317207, 5.0),
 (381180, 99098, 5.0),
 (85873, 7589, 5.0),
 (93006, 21256, 3.0),
 (382071, 258558, 5.0),
 (53932, 245233, 5.0),
 (422893, 271001, 5.0),
 (57222, 188029, 5.0),
 (461834, 225056, 5.0),
 (831580, 396023, 3.0),
 (83093, 83187, 5.0),
 (222478, 225028, 5.0),
 (59064, 38596, 5.0),
 (422893, 308661, 5.0),
 (179133, 301425, 5.0),
 (52282, 94819, 5.0),
 (383346, 253289, 5.0),
 (37449, 466302, 5.0),
 (209255, 113229, 5.0),
 (89831, 278846, 5.0),
 (724631, 198876, 5.0),
 (383346, 316454, 5.0),
 (324390, 355009, 5.0),
 (39835, 467042, 4.0),
 (171303, 42780, 5.0),
 (131674, 229254, 5.0),
 (215350, 112972, 5.0),
 (222139, 184211, 5.0),
 (101823, 36129, 5.0),
 (440324, 171732, 5.0),
 (105471, 134802, 5.0),
 (314825, 180461, 5.0),
 (322381, 35788, 3.0),
 (101732, 321292, 5.0),
 (209747, 163922, 5.0),
 (353579, 61867, 5.0),
 (1802849661, 30004, 5.0),
 (128473, 66777, 5.0),
 (6258, 46382, 5.0),
 (76535, 72506, 4.0),
 (126104, 106668, 4.0),
 (953275, 87346, 5.0),
 (383346, 202872, 4.0),
 (114681, 201675, 2.0),
 (50151, 110683, 5.0),
 (128473, 65294, 4.0),
 (65502, 429109, 5.0),
 (353579, 108195, 5.0),
 (218535, 104248, 4.0),
 (65573, 108305, 0.0),
 (269521, 318632, 5.0),
 (54678, 96865, 5.0),
 (513230, 29365, 4.0),
 (383346, 361132, 4.0),
 (465829, 334780, 4.0),
 (839452, 77782, 4.0),
 (37449, 385017, 5.0),
 (222564, 221388, 5.0),
 (424680, 370071, 5.0),
 (58104, 245508, 5.0),
 (847160, 107997, 4.0),
 (485728, 107059, 5.0),
 (88099, 192052, 5.0),
 (440324, 146374, 5.0),
 (138047, 109700, 5.0),
 (177443, 13082, 5.0),
 (403729, 325674, 4.0),
 (38643, 6916, 2.0),
 (170628, 52569, 5.0),
 (147109, 34233, 5.0),
 (201581, 278886, 5.0),
 (1269015, 222188, 2.0),
 (171790, 425452, 5.0),
 (625696, 281815, 5.0),
 (102058, 192387, 5.0),
 (21752, 49552, 5.0),
 (455641, 251178, 5.0),
 (314825, 166851, 5.0),
 (47230, 34621, 5.0),
 (93095, 29155, 5.0),
 (653438, 409728, 5.0),
 (67491, 15343, 5.0),
 (58104, 80460, 4.0),
 (37449, 347960, 4.0),
 (58104, 316937, 5.0),
 (156783, 88290, 5.0),
 (452940, 182881, 5.0),
 (80353, 455402, 5.0),
 (130819, 298530, 5.0),
 (227978, 508008, 5.0),
 (844554, 455221, 5.0),
 (208755, 167797, 5.0),
 (180898, 109585, 3.0),
 (209747, 140969, 4.0),
 (324621, 16286, 1.0),
 (780172, 244995, 0.0),
 (305531, 278886, 5.0),
 (840768, 358208, 5.0),
 (373817, 76491, 5.0),
 (203467, 82896, 5.0),
 (37449, 379439, 5.0),
 (537179, 349694, 5.0),
 (6357, 14806, 5.0),
 (82648, 56376, 5.0),
 (128473, 494016, 5.0),
 (160974, 158503, 5.0),
 (143318, 459490, 5.0),
 (285039, 292198, 5.0),
 (831580, 313578, 4.0),
 (223979, 129925, 5.0),
 (82648, 136731, 5.0),
 (344087, 97774, 5.0),
 (480195, 427618, 5.0),
 (906665, 78088, 4.0),
 (61660, 243079, 5.0),
 (169430, 274465, 5.0),
 (64642, 5287, 4.0),
 (593927, 437905, 4.0),
 (2123645, 280012, 4.0),
 (101919, 304113, 5.0),
 (141293, 74386, 4.0),
 (230860, 158471, 5.0),
 (176615, 140219, 5.0),
 (143721, 399467, 5.0),
 (20480, 137364, 5.0),
 (60989, 97774, 4.0),
 (209747, 271019, 4.0),
 (64682, 67790, 5.0),
 (55729, 33113, 4.0),
 (37779, 33194, 5.0),
 (188119, 11427, 5.0),
 (226066, 325742, 5.0),
 (230557, 209800, 4.0),
 (592481, 61994, 4.0),
 (284897, 229473, 5.0),
 (844554, 230831, 5.0),
 (724631, 61216, 4.0),
 (168921, 365660, 4.0),
 (579298, 323163, 5.0),
 (496803, 369734, 5.0),
 (28729, 135210, 5.0),
 (552613, 413642, 3.0),
 (305531, 132566, 5.0),
 (315565, 455847, 5.0),
 (2324285, 509141, 4.0),
 (593927, 215253, 4.0),
 (222564, 34510, 4.0),
 (185446, 184425, 4.0),
 (594139, 298696, 5.0),
 (286566, 322176, 5.0),
 (93446, 151075, 4.0),
 (129177, 36091, 5.0),
 (424680, 84299, 5.0),
 (204024, 205758, 5.0),
 (992845, 66976, 3.0),
 (39394, 156505, 4.0),
 (1239906, 89940, 5.0),
 (52543, 82040, 5.0),
 (157425, 26306, 5.0),
 (160977, 128377, 2.0),
 (780172, 161000, 5.0),
 (290107, 250126, 5.0),
 (379033, 108918, 5.0),
 (58836, 93488, 5.0),
 (245429, 79469, 5.0),
 (107583, 352699, 5.0),
 (23119, 201217, 5.0),
 (217657, 173066, 5.0),
 (628076, 88290, 4.0),
 (248023, 16256, 5.0),
 (218535, 49172, 2.0),
 (25455, 24672, 4.0),
 (140132, 152441, 5.0),
 (56181, 59772, 5.0),
 (1269015, 19395, 3.0),
 (88099, 224675, 4.0),
 (176615, 129040, 5.0),
 (31499, 121779, 5.0),
 (160977, 202157, 5.0),
 (38865, 59888, 2.0),
 (143318, 154776, 0.0),
 (56670, 54709, 2.0),
 (184530, 111940, 5.0),
 (80353, 72728, 4.0),
 (780172, 159332, 5.0),
 (174096, 126783, 5.0),
 (383346, 226188, 5.0),
 (298981, 289559, 5.0),
 (58104, 167248, 5.0),
 (65197, 146741, 5.0),
 (226863, 111434, 5.0),
 (798181, 167519, 4.0),
 (114027, 308306, 4.0),
 (486725, 220871, 4.0),
 (305531, 266388, 5.0),
 (6357, 67812, 4.0),
 (65197, 127099, 5.0),
 (58104, 423603, 5.0),
 (37449, 118989, 5.0),
 (189643, 45045, 5.0),
 (1535, 29844, 4.0),
 (166294, 118761, 5.0),
 (140132, 284999, 5.0),
 (135566, 261985, 4.0),
 (124249, 76540, 5.0),
 (1239906, 105356, 5.0),
 (4470, 153863, 0.0),
 (217226, 95863, 4.0),
 (424680, 451264, 5.0),
 (236760, 153864, 5.0),
 (1365025, 377198, 5.0),
 (59064, 304712, 5.0),
 (143318, 254208, 5.0),
 (291188, 280594, 5.0),
 (333017, 112316, 5.0),
 (191533, 258589, 5.0),
 (203467, 147564, 5.0),
 (124249, 100408, 5.0),
 (60124, 207151, 5.0),
 (140132, 105835, 4.0),
 (107583, 484348, 4.0),
 (1535, 97486, 4.0),
 (723491, 303800, 5.0),
 (323186, 310605, 5.0),
 (448342, 49172, 3.0),
 (222564, 45122, 4.0),
 (593927, 204276, 5.0),
 (17803, 250764, 3.0),
 (537179, 207715, 5.0),
 (53425, 49037, 5.0),
 (803511, 51730, 5.0),
 (356850, 402696, 5.0),
 (164368, 95416, 4.0),
 (4470, 67210, 5.0),
 (47907, 130225, 5.0),
 (1179225, 379381, 5.0),
 (251626, 60549, 5.0),
 (527607, 241513, 5.0),
 (68460, 160816, 5.0),
 (286566, 482282, 4.0),
 (386849, 40452, 5.0),
 (1900559, 133448, 5.0),
 (189643, 134236, 5.0),
 (193516, 121052, 4.0),
 (282745, 30135, 5.0),
 (174096, 370558, 5.0),
 (22015, 223794, 5.0),
 (199848, 31521, 4.0),
 (226863, 118761, 5.0),
 (209747, 142234, 5.0),
 (89831, 280040, 5.0),
 (37449, 420635, 5.0),
 (215898, 137104, 4.0),
 (131126, 85349, 5.0),
 (162826, 177738, 5.0),
 (305531, 187840, 5.0),
 (425105, 43072, 5.0),
 (58104, 144984, 5.0),
 (628076, 179301, 5.0),
 (590105, 304991, 4.0),
 (2597942, 432587, 3.0),
 (37449, 288868, 5.0),
 (220403, 137287, 5.0),
 (527607, 366724, 5.0),
 (340130, 275744, 5.0),
 (196296, 92803, 5.0),
 (168896, 321139, 5.0),
 (37449, 160882, 5.0),
 (461834, 427739, 5.0),
 (844554, 455872, 5.0),
 (95743, 117540, 5.0),
 (593927, 226047, 5.0),
 (98919, 138297, 5.0),
 (63858, 166868, 5.0),
 (166642, 167914, 5.0),
 (107583, 230188, 5.0),
 (1634, 104248, 5.0),
 (134011, 97565, 5.0),
 (226066, 8039, 5.0),
 (141293, 225310, 5.0),
 (222564, 484494, 5.0),
 (80353, 401858, 5.0),
 (31232, 16624, 5.0),
 (311625, 149886, 3.0),
 (162826, 220781, 5.0),
 (618715, 170432, 4.0),
 (179133, 346731, 5.0),
 (895132, 241569, 5.0),
 (107135, 234834, 5.0),
 (160974, 213945, 5.0),
 (1609858, 300228, 4.0),
 (1269015, 60316, 4.0),
 (169430, 456985, 5.0),
 (39835, 217361, 4.0),
 (315565, 63788, 4.0),
 (266635, 344336, 5.0),
 (70073, 215911, 5.0),
 (80353, 170484, 4.0),
 (593513, 37374, 5.0),
 (233583, 265542, 4.0),
 (464080, 348635, 4.0),
 (22015, 49340, 3.0),
 (285039, 281810, 4.0),
 (158086, 8507, 5.0),
 (620435, 86710, 4.0),
 (337963, 380974, 5.0),
 (482933, 386562, 4.0),
 (302094, 254299, 5.0),
 (398275, 93520, 5.0),
 (465080, 375726, 5.0),
 (199848, 234094, 5.0),
 (143318, 392465, 4.0),
 (33159, 160457, 5.0),
 (17803, 172806, 5.0),
 (68460, 269256, 5.0),
 (40114, 20756, 5.0),
 (993604, 267359, 4.0),
 (95743, 135721, 5.0),
 (47510, 66575, 5.0),
 (43083, 220431, 5.0),
 (29404, 121897, 5.0),
 (377161, 182136, 5.0),
 (1900559, 376569, 5.0),
 (382203, 18705, 5.0),
 (601528, 315826, 5.0),
 (143318, 256984, 5.0),
 (377070, 121067, 5.0),
 (220348, 258292, 5.0),
 (58038, 54438, 4.0),
 (125388, 15897, 5.0),
 (5060, 225632, 5.0),
 (88099, 227708, 4.0),
 (21730, 24691, 5.0),
 (1072593, 82770, 5.0),
 (103876, 142998, 5.0),
 (993604, 264634, 5.0),
 (58104, 149744, 5.0),
 (369715, 18879, 4.0),
 (53932, 151226, 5.0),
 (101823, 14345, 5.0),
 (62264, 26431, 5.0),
 (844554, 462874, 5.0),
 (188119, 216778, 5.0),
 (135470, 515858, 5.0),
 (207616, 307480, 5.0),
 (162826, 373622, 5.0),
 (29782, 109969, 5.0),
 (47892, 492862, 5.0),
 (222478, 28419, 5.0),
 (496803, 194856, 5.0),
 (104295, 147029, 5.0),
 (262272, 149199, 0.0),
 (65573, 67902, 5.0),
 (169430, 379611, 5.0),
 (844554, 28025, 5.0),
 (41809, 110428, 5.0),
 (89831, 214555, 5.0),
 (37779, 21243, 5.0),
 (430471, 376477, 5.0),
 (520150, 132566, 5.0),
 (446143, 325810, 3.0),
 (340130, 153549, 5.0),
 (494068, 148927, 5.0),
 (176615, 176287, 5.0),
 (179133, 126363, 5.0),
 (302094, 132955, 5.0),
 (58104, 135141, 5.0),
 (1175362, 39383, 5.0),
 (101732, 97534, 5.0),
 (679953, 196585, 5.0),
 (101732, 276675, 5.0),
 (65631, 416878, 5.0),
 (239758, 284500, 5.0),
 (43505, 27546, 5.0),
 (84038, 103128, 5.0),
 (186855, 397401, 5.0),
 (485728, 153990, 5.0),
 (171790, 269592, 4.0),
 (724631, 448345, 4.0),
 (65502, 85129, 5.0),
 (79877, 347911, 5.0),
 (28729, 162471, 5.0),
 (895132, 269005, 5.0),
 (311625, 388931, 4.0),
 (498271, 508443, 5.0),
 (61569, 365462, 4.0),
 (68960, 97645, 5.0),
 (810787, 428595, 5.0),
 (125388, 223191, 4.0),
 (756031, 208152, 4.0),
 (136465, 42780, 5.0),
 (450004, 456415, 5.0),
 (217657, 156343, 4.0),
 (177443, 278809, 5.0),
 (383346, 216460, 4.0),
 (91392, 56704, 5.0),
 (1522598, 210658, 5.0),
 (627420, 231192, 5.0),
 (4470, 115826, 5.0),
 (133174, 187975, 5.0),
 (115525, 67171, 4.0),
 (556011, 87748, 5.0),
 (72489, 73216, 5.0),
 (37305, 259499, 3.0),
 (64667, 173556, 4.0),
 (29782, 141239, 5.0),
 (428885, 11373, 5.0),
 (724631, 85473, 5.0),
 (839492, 491929, 5.0),
 (169430, 457272, 4.0),
 (96177, 424044, 5.0),
 (170628, 282040, 5.0),
 (447487, 372915, 5.0),
 (383346, 323393, 5.0),
 (60260, 141191, 5.0),
 (195589, 249833, 5.0),
 (291292, 278954, 4.0),
 (278118, 361723, 4.0),
 (115758, 189727, 4.0),
 (80353, 189617, 5.0),
 (1356721, 207946, 5.0),
 (804931, 149483, 5.0),
 (177435, 41201, 0.0),
 (953275, 414206, 5.0),
 (383346, 295415, 5.0),
 (33159, 26773, 4.0),
 (1366254, 394880, 5.0),
 (45999, 94683, 5.0),
 (92385, 96209, 5.0),
 (173880, 161980, 5.0),
 (32143, 95988, 4.0),
 (189475, 134359, 5.0),
 (230579, 213766, 4.0),
 (33159, 156489, 4.0),
 (537937, 317382, 5.0),
 (47892, 157674, 4.0),
 (323186, 320442, 5.0),
 (53959, 165790, 5.0),
 (424680, 237853, 5.0),
 (738763, 52284, 5.0),
 (383346, 322388, 4.0),
 (540346, 80954, 5.0),
 (65056, 47391, 5.0),
 (724516, 429065, 5.0),
 (209747, 468488, 5.0),
 (498271, 290391, 5.0),
 (552613, 172804, 5.0),
 (476796, 107774, 4.0),
 (226863, 413832, 5.0),
 (232669, 170943, 5.0),
 (41578, 90454, 5.0),
 (38418, 222188, 5.0),
 (1179225, 371798, 4.0),
 (230102, 113683, 5.0),
 (242766, 84345, 5.0),
 (205730, 254025, 5.0),
 (463202, 296652, 5.0),
 (182809, 28339, 3.0),
 (43083, 139248, 4.0),
 (64203, 79145, 5.0),
 (47510, 116037, 5.0),
 (201581, 158788, 5.0),
 (37036, 155018, 5.0),
 (900992, 298599, 3.0),
 (65197, 100777, 5.0),
 (128473, 433526, 5.0),
 (101823, 63096, 4.0),
 (592481, 4292, 2.0),
 (56112, 19809, 5.0),
 (1072593, 260905, 5.0),
 (179133, 6998, 3.0),
 (65502, 464290, 5.0),
 (296809, 84015, 5.0),
 (80353, 246837, 5.0),
 (220348, 436267, 5.0),
 (333017, 61196, 5.0),
 (537937, 189447, 5.0),
 (131126, 286347, 5.0),
 (130819, 44519, 5.0),
 (385678, 221217, 5.0),
 (58104, 97093, 5.0),
 (254614, 292228, 4.0),
 (107135, 105670, 5.0),
 (498271, 399609, 4.0),
 (1706426, 251220, 4.0),
 (140132, 234542, 5.0),
 (56463, 166539, 5.0),
 (179133, 491772, 5.0),
 (41578, 88057, 5.0),
 (1436160, 60420, 4.0),
 (31635, 227756, 5.0),
 (333017, 37331, 4.0),
 (369715, 41169, 4.0),
 (20754, 101547, 5.0),
 (1745502, 51785, 4.0),
 (465056, 459368, 5.0),
 (199657, 294596, 4.0),
 (128473, 241627, 5.0),
 (463858, 272719, 5.0),
 (592373, 43023, 5.0),
 (593927, 423641, 5.0),
 (163986, 4292, 5.0),
 (341170, 14954, 4.0),
 (394077, 279063, 4.0),
 (1533, 54632, 5.0),
 (37449, 502733, 5.0),
 (702607, 241627, 5.0),
 (175727, 24476, 5.0),
 (137911, 112245, 4.0),
 (353485, 191861, 4.0),
 (201581, 379195, 5.0),
 (305531, 116195, 5.0),
 (141569, 59336, 5.0),
 (679953, 357682, 5.0),
 (107135, 484123, 5.0),
 (67728, 236027, 5.0),
 (169430, 278846, 5.0),
 (381047, 90735, 0.0),
 (199792, 59742, 4.0),
 (1072593, 240646, 5.0),
 (724516, 127255, 5.0),
 (424680, 363828, 5.0),
 (373817, 117372, 5.0),
 (606850, 241181, 5.0),
 (9869, 9982, 5.0),
 (150281, 428116, 5.0),
 (125388, 122041, 5.0),
 (27783, 16567, 5.0),
 (141293, 170634, 5.0),
 (47892, 191122, 5.0),
 (227978, 147141, 5.0),
 (232669, 280934, 5.0),
 (537937, 204842, 5.0),
 (185926, 64015, 4.0),
 (133174, 23705, 5.0),
 (74281, 17398, 5.0),
 (130819, 124290, 5.0),
 (573325, 64708, 5.0),
 (222564, 231135, 5.0),
 (1195537, 363962, 5.0),
 (485728, 311767, 5.0),
 (736554, 337109, 5.0),
 (653438, 264181, 5.0),
 (39835, 53882, 5.0),
 (143721, 331610, 5.0),
 (969481, 388900, 4.0),
 (201581, 57585, 5.0),
 (679953, 456165, 5.0),
 (470351, 292029, 5.0),
 (136997, 293662, 5.0),
 (135566, 263865, 5.0),
 (76535, 122047, 4.0),
 (88099, 216618, 4.0),
 (384041, 322042, 5.0),
 (137911, 22516, 5.0),
 (90086, 175640, 5.0),
 (211184, 208757, 5.0),
 (29956, 34632, 5.0),
 (104295, 15711, 5.0),
 (844554, 125802, 5.0),
 (239758, 504736, 5.0),
 (909692, 38517, 4.0),
 (481092, 359858, 5.0),
 (4470, 137225, 5.0),
 (180898, 90768, 5.0),
 (4470, 237491, 5.0),
 (36128, 118671, 5.0),
 (55017, 50453, 5.0),
 (789516, 242613, 5.0),
 (37036, 88236, 5.0),
 (844554, 360695, 5.0),
 (101823, 30505, 3.0),
 (804550, 134951, 5.0),
 (704950, 217116, 5.0),
 (55380, 58983, 5.0),
 (165933, 5008, 5.0),
 (226863, 204656, 5.0),
 (1375473, 326682, 4.0),
 (39334, 42252, 4.0),
 (189643, 142820, 5.0),
 (4470, 113930, 5.0),
 (285039, 365695, 5.0),
 (182358, 71074, 5.0),
 (1056692, 404770, 5.0),
 (205730, 65518, 5.0),
 (68884, 32544, 4.0),
 (331557, 155392, 5.0),
 (426903, 24225, 5.0),
 (428885, 420977, 5.0),
 (236470, 137680, 5.0),
 (422893, 455332, 4.0),
 (936601, 335269, 5.0),
 (493002, 245887, 3.0),
 (539686, 263167, 4.0),
 (296027, 230722, 4.0),
 (88099, 366230, 5.0),
 (574936, 26306, 5.0),
 (163112, 307048, 5.0),
 (163112, 168992, 5.0),
 (37449, 220847, 5.0),
 (17803, 139492, 4.0),
 (60716, 270350, 5.0),
 (222478, 30135, 5.0),
 (52543, 66421, 5.0),
 (284180, 335544, 5.0),
 (212609, 471649, 5.0),
 (234062, 262957, 4.0),
 (93095, 223209, 5.0),
 (200862, 131953, 4.0),
 (206747, 46560, 4.0),
 (227652, 106869, 5.0),
 (844554, 203925, 5.0),
 (47559, 193486, 5.0),
 (346383, 35755, 5.0),
 (469903, 206329, 5.0),
 (101823, 20324, 2.0),
 (477308, 247765, 2.0),
 (41984, 48158, 5.0),
 (107583, 394244, 5.0),
 (58104, 310164, 5.0),
 (431813, 354238, 5.0),
 (107308, 38683, 4.0),
 (227978, 454195, 4.0),
 (88099, 424775, 5.0),
 (92006, 316218, 4.0),
 (353579, 209211, 5.0),
 (424680, 401513, 5.0),
 (704950, 274691, 4.0),
 (362919, 143814, 5.0),
 (316094, 359346, 5.0),
 (424680, 303287, 5.0),
 (21752, 168486, 5.0),
 (4470, 67404, 5.0),
 (804550, 12450, 5.0),
 (1458727, 77376, 0.0),
 (398275, 281618, 4.0),
 (58104, 433183, 5.0),
 (461834, 464157, 5.0),
 (222055, 225332, 5.0),
 (628076, 443546, 0.0),
 (58038, 88283, 5.0),
 (122878, 137364, 5.0),
 (4500, 305912, 5.0),
 (937635, 11474, 5.0),
 (294000, 398774, 5.0),
 (439066, 43072, 5.0),
 (130219, 41808, 4.0),
 (38643, 55545, 5.0),
 (1417292, 211985, 5.0),
 (323186, 224006, 5.0),
 (35193, 40742, 5.0),
 (143917, 190496, 4.0),
 (8688, 81874, 5.0),
 (774665, 60235, 5.0),
 (601528, 83992, 3.0),
 (463763, 255037, 3.0),
 (104295, 103134, 4.0),
 (298447, 43332, 5.0),
 (54678, 183000, 5.0),
 (117781, 63138, 5.0),
 (95743, 97163, 5.0),
 (618715, 294481, 5.0),
 (351811, 257222, 4.0),
 (296809, 171572, 5.0),
 (394077, 63786, 5.0),
 (67656, 172275, 4.0),
 (174096, 222519, 5.0),
 (383346, 423394, 5.0),
 (59064, 34319, 5.0),
 (427184, 148742, 4.0),
 (383346, 62275, 4.0),
 (28604, 77692, 5.0),
 (705251, 400365, 5.0),
 (56003, 276357, 5.0),
 (285039, 283501, 0.0),
 (114027, 135390, 5.0),
 (57222, 382657, 4.0),
 (168896, 242280, 5.0),
 (58104, 174553, 5.0),
 (63098, 16887, 3.0),
 (126440, 67382, 5.0),
 (383346, 386347, 4.0),
 (138861, 104732, 5.0),
 (869184, 208110, 5.0),
 (679953, 454188, 5.0),
 (653438, 432217, 5.0),
 (26041, 28665, 5.0),
 (126440, 101749, 5.0),
 (428885, 178809, 5.0),
 (464080, 97685, 5.0),
 (5060, 28440, 5.0),
 (542159, 484426, 5.0),
 (383853, 139578, 3.0),
 (411567, 267527, 5.0),
 (632249, 298871, 4.0),
 (336058, 143133, 5.0),
 (212609, 150759, 5.0),
 (385999, 309933, 5.0),
 (296027, 328722, 5.0),
 (330505, 267197, 4.0),
 (89831, 139630, 5.0),
 (37449, 441071, 5.0),
 (88732, 315340, 5.0),
 (375111, 100908, 5.0),
 (557801, 319500, 4.0),
 (107583, 15598, 5.0),
 (91584, 98239, 5.0),
 (30534, 398154, 5.0),
 (5060, 100419, 5.0),
 (134011, 203888, 5.0),
 (58104, 111117, 5.0),
 (621626, 302814, 5.0),
 (311003, 79506, 5.0),
 (542159, 337022, 5.0),
 (40961, 162532, 5.0),
 (936601, 289070, 5.0),
 (230102, 27334, 5.0),
 (8688, 18510, 5.0),
 (143721, 117370, 5.0),
 (468146, 152441, 4.0),
 (128473, 262900, 5.0),
 (368078, 16371, 5.0),
 (133174, 172618, 5.0),
 (43083, 271019, 3.0),
 (49542, 55514, 5.0),
 (4470, 34050, 4.0),
 (185139, 86461, 2.0),
 (542159, 313193, 0.0),
 (101275, 44198, 5.0),
 (57101, 37698, 5.0),
 (383346, 375124, 5.0),
 (280271, 220016, 5.0),
 (305531, 362382, 5.0),
 (87023, 79292, 5.0),
 (107135, 142237, 5.0),
 (447165, 25360, 5.0),
 (107334, 283501, 5.0),
 (133174, 121923, 5.0),
 (164610, 57919, 4.0),
 (64667, 112474, 4.0),
 (337668, 372846, 5.0),
 (52282, 94663, 5.0),
 (531310, 348625, 5.0),
 (674022, 322149, 5.0),
 (424680, 350836, 5.0),
 (80353, 249706, 5.0),
 (1620171, 494524, 5.0),
 (323186, 463043, 5.0),
 (166642, 30773, 5.0),
 (168921, 169568, 5.0),
 (318262, 180465, 5.0),
 (52543, 89575, 5.0),
 (43083, 59899, 5.0),
 (166642, 234392, 4.0),
 (272100, 133523, 4.0),
 (189643, 86927, 5.0),
 (222478, 125058, 5.0),
 (532289, 220389, 5.0),
 (169712, 306761, 5.0),

In [ ]:
# Create SVD model and fit on training set
model = SVD()
model.fit(trainset)

In [ ]:
# Make predictions on test set
predictions = model.test(testset)

In [ ]:
# Calculate RMSE
accuracy.rmse(predictions)

RMSE: 0.7849

0.7848683468811428

##### Recommendations

In [ ]:
# Recommend top 10 items for user 1
user_id = 1588
recipes_to_ignore = df[df['user_id'] == user_id]['recipe_id'].tolist()
recipes = df[~df['recipe_id'].isin(recipes_to_ignore)]['recipe_id'].unique()
predictions = [(iid, model.predict(user_id, iid).est) for iid in recipes]
top_recipes = sorted(predictions, key=lambda x: x[1], reverse=True)[:10]
print(top_recipes)

[(55309, 5), (107440, 5), (107059, 5), (295676, 4.9897461448833305), (28026, 4.98394272559119), (57591, 4.978667763447991), (53194, 4.972504815696459), (77497, 4.969154672315901), (186029, 4.966219103177965), (29084, 4.964935436567342)]

In [ ]:
type(top_recipes)

list

In [ ]:
df2=pd.DataFrame(top_recipes,columns =['recipe_id','avg_rating'])

In [ ]:
df2

   recipe_id  avg_rating
0      55309    5.000000
1     107440    5.000000
2     107059    5.000000
3     295676    4.989746
4      28026    4.983943
5      57591    4.978668
6      53194    4.972505
7      77497    4.969155
8     186029    4.966219
9      29084    4.964935

In [ ]:
# recommendation = df2.join(df, on='recipe_id')

## SVD with Numpy

In [ ]:
# Load dataset
df = pd.read_csv(Base_path+"/short-recipes-20.csv")

In [ ]:
df

,Unnamed: 0,name,user_id,recipe_id,rating,minutes
0,21,calm your nerves tonic,65056,39959,5.0,5
1,76,homemade vegetable soup from a can,189616,87098,5.0,12
2,77,homemade vegetable soup from a can,369715,87098,4.0,12
3,170,i stole the idea from mirj sesame noodles,49304,90921,5.0,18
4,171,i stole the idea from mirj sesame noodles,82648,90921,5.0,18
...,...,...,...,...,...,...
122605,698886,zwiebeln salat swiss onion salad,169430,455209,5.0,10
122606,698890,zydeco green beans,283251,185979,0.0,20
122607,698891,zydeco salad,226863,367912,5.0,5
122608,698892,zydeco salad,621626,367912,5.0,5
122609,698893,zydeco sauce,865936,357451,5.0,15

In [ ]:
# Calculate the mean rating for each recipe
mean_ratings = pd.DataFrame(df.groupby('name')['rating'].mean())

In [ ]:
# Add a column for the number of ratings for each recipe
mean_ratings['num_ratings'] = df.groupby('name')['rating'].count()

In [ ]:
mean_ratings

                                          rating  num_ratings
name
007  martini                                 5.0            1
1 2 3 black bean salsa dip                   5.0            5
1 2 3 rice and chili burritos                4.0            1
1 dish caramel pecan coffee cake  round      5.0            1
1 gram fat chocolate banana freezer pops     4.0            1
...                                          ...          ...
zwieback                                     5.0            1
zwiebeln salat  swiss onion salad            5.0            1
zydeco green beans                           0.0            1
zydeco salad                                 5.0            2
zydeco sauce                                 5.0            1

[38592 rows x 2 columns]

In [ ]:
# Pivot the data to create a recipe-rating matrix
recipe_ratings = df.pivot_table(index='name', columns='user_id', values='rating').fillna(0)

In [ ]:
recipe_ratings

user_id,1533,1535,1634,2310,2312,3205,3288,4291,4439,4470,...,2324285,2399085,2549237,2585084,2597942,1800054678,1802849661,2000431901,2000498330,2001102678
name,,,,,,,,,,,,,,,,,,,,,
007 martini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 2 3 black bean salsa dip,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 2 3 rice and chili burritos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
1 dish caramel pecan coffee cake round,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 gram fat chocolate banana freezer pops,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zwieback,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zwiebeln salat swiss onion salad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zydeco green beans,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zydeco salad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zydeco sauce,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Perform SVD on the normalized ratings matrix
## Normalize the ratings by subtracting the mean rating from each rating
#normalized_ratings = recipe_ratings - np.array(mean_ratings['rating'])
# U, sigma, Vt = svds(normalized_ratings, k=50)

from scipy.sparse.linalg import svds

U, sigma, Vt = svds(recipe_ratings, k=50)

sigma = np.diag(sigma)

In [ ]:
sigma

array([[ 92.68204202,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,  93.11030595,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,  93.76309312, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 200.21737402,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        206.07067749,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 266.81389711]])

In [ ]:
# Reconstruct the ratings matrix from the SVD components
predicted_ratings = np.dot(np.dot(U, sigma), Vt) + np.array(mean_ratings['rating']).reshape(-1, 1)

In [ ]:
predicted_ratings

array([[4.9993916 , 4.99671492, 4.9991719 , ..., 5.00262075, 4.99895158,
        5.00182653],
       [5.00426398, 5.05444877, 5.00883362, ..., 5.01878373, 5.00153308,
        5.01071769],
       [4.00010497, 4.00143942, 4.00008833, ..., 4.00013253, 4.00068193,
        4.00021818],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [5.00021097, 4.97002797, 4.99819336, ..., 5.00242443, 5.00128009,
        4.99007471],
       [5.00018362, 4.99819334, 4.99990741, ..., 5.00130859, 5.00014713,
        4.99830278]])

In [ ]:
# Convert the predicted ratings array to a DataFrame
predicted_ratings_df = pd.DataFrame(predicted_ratings, index=recipe_ratings.index, columns=recipe_ratings.columns)

In [ ]:

# Define a function to get the top N recommendations for a user
def get_top_n(user_id, n=10):
    # Get the user's ratings
    user_ratings = df[df['user_id'] == user_id][['name', 'rating']]
    # Merge with the predicted ratings
    user_ratings = user_ratings.join(predicted_ratings_df, on='name')
    # Sort by the predicted rating and select the top N
    top_n = user_ratings.sort_values(by=user_id, ascending=False).head(n)
    return top_n

In [ ]:

# Test the recommendation function with a sample user
get_top_n(1533, 10)['name']

69715                                    margarita parfaits
69030     mandarin tossed chicken salad with cashew dres...
10406                                   basil garlic butter
18791                              californian apple crunch
29882                           costa rican marinated mango
29883                          costa rican stuffed tortilla
102278                     spicy banana fritters  zitumbuwa
84080                               peggy s cheese savories
58799            indecent breasts with noodles or wild rice
27166                                   cinnamon roll toast
Name: name, dtype: object